@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: "Poppins" , sans-serif;
}

body {
    background-color: #000000;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position:absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width:100%;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-280deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .jogador {
    display: none;
    height: 100vh;
}

main .jogador.selecionado {
    display: block;
}

main .jogador .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-jogador {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}


